#friends-display-link {
  text-align: center;
  display: block;
  background-color: var(--color6);
  padding: 15px 0px;
  padding-top: 115px;
  font-size: 18px;
  margin-bottom: 25px;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#friends-display-link i {
  color: white;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friend-screen__category {
  border-top: var(--main-border);
  padding-top: 8px;
}

.friends-screen__category-header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
